{% extends "layout.html" %}
    {% block title %}

    <title>Online Exam Portal</title>

    <!-- Google font-->
  {% endblock title %}



   {% block content %}
<div class="page-body">
            <div class="container-fluid">
              <div class="page-header">
                <div class="row">
                  <div class="col-lg-6 main-header">
                    <h2>stream<span>Details</span></h2>
                    <h6 class="mb-0">admin panel</h6>
                  </div>
                  <div class="col-lg-6 breadcrumb-right">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="pe-7s-home"></i></a></li>
                      <li class="breadcrumb-item">Dashboard   </li>
                      <li class="breadcrumb-item active">Add Subject</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>



<div class="card-body">
                      <form class="needs-validation" action="/subject" method="post">
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Add Subject Name</label>
                            <input class="form-control" id="validationCustom01" type="text" name="subjectname" placeholder="Enter Subject Name" required=""> <br>
                              <label for="validationCustom01">Subject Code</label>
                            <input class="form-control" id="validationCustom02" type="text" name="subjectcode" placeholder="Enter Subject Code" required=""> <br>
                               <label for="validationCustom01">Select Teacher</label>
                                <select class="form-control" name="teach" required>
                                    <option disabled selected>Select Teacher</option>
                                    {% for tch in teacher %}
                                    <option value="{{tch.1}},{{tch.0}}">{{tch.1}}</option>
                                    {% endfor %}
                                </select>
                              <br>
                            <div class="valid-feedback">Looks good!</div>
                              <button class="btn btn-primary" type="submit">Submit</button>
                        <br>
                          </div>
                        </div>
                      </form>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Subjects</th>
        <th>Subject Tecaher</th>
    </tr>
  </thead>
  <tbody>

        {% for row in subjectlist %}
        <tr>
      <td >{{row.0}}</td>

      <td>{{row.1}}</td>
      <td>{{row.5}}</td>
             </tr>
        {% endfor %}


 {% endblock content %}



