
{% extends "layout.html" %}
    {% block title %}

    <title>Online Exam Portal</title>

    <!-- Google font-->
  {% endblock title %}



   {% block content %}
<div class="page-body">
            <div class="container-fluid">
              <div class="page-header">
                <div class="row">
                  <div class="col-lg-6 main-header">
                    <h2>Manage your<span>Tasks</span></h2>
                    <h6 class="mb-0">admin panel</h6>
                  </div>
                  <div class="col-lg-6 breadcrumb-right">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="pe-7s-home"></i></a></li>
                      <li class="breadcrumb-item">Forms   </li>
                      <li class="breadcrumb-item">Form Controls</li>
                      <li class="breadcrumb-item active">Add</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>




<div class="col-md-5">

    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModalmdo" data-whatever="@fat">Add New Task</button>


      <div class="modal fade" id="exampleModalmdo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Add New Task</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="form-group">
                                <label class="col-form-label" for="recipient-name">Task:</label>
                                <input class="form-control" id="task-name" type="text" value="Enter..">
                              </div>
                              <div class="form-group">
                                <label class="col-form-label" for="message-text">Task Description:</label>
                                <textarea class="form-control"  placeholder="Enter.."></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="button">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
</div>
    <br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Task description</th>
      <th scope="col">Date Added</th>
      <th scope="col">Date Uptdated</th>
        <th scope="col">Date completed</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>

      <td>Mark</td>
      <td>Otto</td><td><button class="btn btn-info" id="delite" >delete</button > <button class="btn btn-secondary" id=edit>Edit</button> <button class="btn btn-primary" id="done" onclick="doneform()">Done</button></td>
    </tr>

  </tbody>
</table>

    <script>
        doneform()
        {
        let btnsahow = document.getElementById('done');
        btnsahow.addEventListener('click', () =>{

        btnsahow.disabled = true;
        }
        }

    </script>

 {% endblock content %}