{% extends "layout.html" %}
    {% block title %}

    <title>Online Exam Portal</title>

    <!-- Google font-->
  {% endblock title %}



   {% block content %}
<div class="page-body">
            <div class="container-fluid">
              <div class="page-header">
                <div class="row">
                  <div class="col-lg-6 main-header">
                    <h2>Teacher<span>Details</span></h2>
                    <h6 class="mb-0">admin panel</h6>
                  </div>
                  <div class="col-lg-6 breadcrumb-right">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="pe-7s-home"></i></a></li>
                      <li class="breadcrumb-item">Forms   </li>
                      <li class="breadcrumb-item">Form Controls</li>
                      <li class="breadcrumb-item active">Add</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>


  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Teacher Name</th>

    </tr>
  </thead>
  <tbody>

        {% for row in teacherList %}
        <tr>
      <td >{{loop.index}}</td>

      <td>{{row.1}}</td>
             </tr>
        {% endfor %}



  </tbody>
</table>
    {% endblock content %}

